.call_to_action{
  border-top: 1rem solid $secondary;
  @media screen and (min-width: 600px) {
    border-bottom: 1rem solid $secondary;   
  }
  @media screen and (min-width: 1400px) {
    .container{
      padding: 0 9rem;
    } 
  }
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    padding: 1.5rem 0;
    @media screen and (min-width: 600px) {
      width: 100%;
      margin: 0;
      padding: 5rem 0 4rem;
    }
    img{
      margin-bottom: 1rem;
      @media screen and (min-width: 600px) {
        margin: 0 0 -0.25rem 0.5rem;
      }
    }
    span{
      text-align: center;
      line-height: 1.5;
      @media screen and (min-width: 600px) {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }  
}

.action{
  &__logo{
    height: 2rem;
  }
  &__wrapper{
    @media screen and (min-width: 600px) {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 5rem; 
    }
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 2rem 3.5rem;
    border-style: solid;
    border-color: $secondary;
    border-width: 2px 0;
    background-color: transparent;
    cursor: pointer;
    &:after{
      content: '';
      display: none;
      width: 1.5rem;
      height: 1.5rem;
      border: solid $secondary;
      border-width: 2px 2px 0 0;
    }
    &:first-child{
      margin-bottom: 2rem;
      img{
        margin-right: 2rem;
      }
      &:after{
        transform: rotate(45deg);
      }
    }
    &:last-child{
      flex-direction: row-reverse;
      .action__text{
        text-align: right;
      }
      img{
        margin-left: 2rem;
      }
      &:after{
        transform: rotate(-135deg);
      }
    }
    @media screen and (min-width: 600px) {
      width: calc(50% - 1rem);
      border-width: 2px;
      margin: 0 !important;
    }
    @media screen and (min-width: 770px) {
      &:after{
        display: flex;
      }      
    }
    @media screen and (min-width: 1400px) {
      padding: 4rem 8rem;
      &:first-child{
        padding-right: 4rem;
      }
      &:last-child{
        padding-left: 4rem;
      }
    }
  }
  &__text{
    flex: 1;
    width: auto;
    padding: 1rem;
    text-align: left;
    line-height: 0.9;
    @media screen and (min-width: 1200px) {
      font-size: 4.6rem;
    }
  }
}